<div class="container">
    <div class="header-row">
        <span><b>نام بیمار: </b><i>محسن</i></span>
        <span><b></b>hello<i></i></span>
        <span><b></b>hello<i></i></span>
        <span><b></b>hello<i></i></span>
    </div>
    <h3>تجویزات : </h3>
    <div class="area">
        تجویزات
        <span class="help">راهنما</span>
    </div>
    <h3>توضیحات و توصیه ها : </h3>
    <div class="area">
        توضیحات و توصیه ها
        <span class="help">راهنما</span>
    </div>
    <h3>ارجاعات: </h3>
    <div class="area">
        <div class="header-row col-2">
            <span><b>نام بیمار: </b><i>محسن</i></span>
            <span><b>نام بیمار: </b><i>محسن</i></span>
        </div>
        توضیحات
        <hr/>
        <h4>وضعیت اضطراری؟
            <label class="switch" style="float: left;">
                <input type="checkbox">
                <span class="slider round"></span>
            </label>
        </h4>
    </div>
    <div class="normal-row">
        <button class="button">
            اضافه کردن ارجاع
        </button>
    </div>
    <br>
    <div class="normal-row">
        <table class="table">
            <tr>
                <th>خدمات</th>
                <th>قیمت</th>
            </tr>
            <tr class="def">
                <td>خدمات</th>
                <td>قیمت</th>
            </tr>
            <tr class="def">
                <td>خدمات</th>
                <td>قیمت</th>
            </tr>
        </table>
    </div>
</div>