<div class="container">
    <div class="header-row">
        <span><b>نام بیمار: </b><i>محسن</i></span>
        <span><b></b>hello<i></i></span>
        <span><b></b>hello<i></i></span>
        <span><b></b>hello<i></i></span>
    </div>
    <h3>تجویزات : </h3>
    <div class="area">
        تجویزات
    </div>
    <h3>توضیحات و توصیه ها : </h3>
    <div class="area">
        توضیحات و توصیه ها
    </div>
    <br>
    <hr/>
    <h3>آیا دارو دریافت شد؟
        <label class="switch" style="float: left;margin-left: 10%;">
            <input type="checkbox">
            <span class="slider round"></span>
        </label>
    </h3>
</div>