/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 11, 2017, 6:17:16 PM
    Author     : mphj
*/
@font-face {
    font-family: 'Iran';
    font-style: normal;
    src: url(font/IRANSansWeb_Light.woff2) format('woff2');
}

html {
    font-family: 'Iran', sans-serif;
}

span, div, textarea, input, button, i, b, s, h1, h2, h3, h4, h5, h6 {
    font-family: 'Iran', sans-serif;
}

* {
    font-family: 'Iran', sans-serif;
}
html{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}
body{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-image: url(bg/Forever_by_Shady_S.jpg);
    background-position: center;
    background-size: cover;
    margin: 0;
    padding: 0;
}
.form{
    background: white;
    position: absolute;
    left: 0;
    right: 0;
    width: 30%;
    margin: 0 auto;
    padding: 10px 15px;
    top: 0px;
    transition: 0.3s;
}

.box-shadow-1{
    box-shadow: 0px 0px 20px #000;
}

.input[type="text"]{
    border: 0;
    background: transparent;
    padding: 10px 7px;
    width: 100%;
    box-sizing: border-box;
    display: block;
    transition: 0.3s;
}

.input[type="text"]:focus{
    transform: scale(1.1);
}

.center-text{
    text-align: center;
}

.button{
    display: block;
    border: 0;
    border-top: 3px gold solid;
    color: gold;
    font-weight: bold;
    padding: 10px 15px;
    width: 100%;
    box-sizing: content-box;
    margin-left: -15px;
    margin-bottom: -10px;
    background: #444;
    transition: 0.3s;
    cursor: pointer;
    position: relative;
}

.button:hover{
    border-top-color: #297cde;
}

.footer{
    position: fixed;
    bottom: 0px;
    left: 0px;
    display: block;
    width: 100%;
    background: #444;
    text-align: center;
}

.footer span.cp{
    padding: 5px 0px;
    color: #999;
    font-size: small;
}

.progress-bar{
    position: fixed;
    height: 3px;
    top: 0px;
    left: 0px;
    box-sizing: border-box;
    background: #00b300;
    display: block;
    box-shadow: 0px 0px 4px #555;
    z-index: 10;
    overflow-x: hidden;
}

.circle-progress{
    width: 15px;
    height: 15px;
    display: inline-block;
    border-radius: 50%;
    border-color: gold;
    border-style: solid;
    border-left-width: 2px;
    border-right-width: 2px;
    border-top-width: 2px;
    box-sizing: border-box;
    border-bottom: 0;
    position: absolute;
    top: 5px;
    right: 5px;
    -webkit-animation: spin 1s infinite linear;
    animation: spin 1s infinite linear;
}

@media only screen and (max-width : 1200px){

}

@media only screen and (max-width : 979px){
    .form{
        width: 50%;
    }
}

@media only screen and (max-width : 767px){
    .form{
        width: 60%;
    }
}

@media only screen and (max-width : 480px){
    .form{
        width: 70%;
    }
}

@media only screen and (max-width : 320px){
    .form{
        width: 80%;
    }
}

@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

